.button{
    padding: 16px 8px;
    border-radius: 8px;
    background-color: #17D9B1;
    color: #212121;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    border: none;
}

button:hover{
    opacity: 0.8;
    cursor: pointer;
}