.select{
    border: 1px solid #4A4949;
    border-radius: 8px;
    padding: 16px 8px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.select option{
    background: transparent;
}